.tabla,th,tr,td{
    border: solid 2px rgb(55, 17, 194);
    background-color: rgb(159, 232, 235);
}
body{
    background-color: rgb(40, 158, 197);
}
.resaltado {
    background-color: yellow;
}

.resaltado2{
    background-color: blue;
}